<div class="container text-center">
    <h1>About The Hearth</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, cum, alias, 
    maxime placeat ipsum tempore dolore perspiciatis aut facilis molestias iusto 
    nemo pariatur aspernatur nesciunt odio dignissimos quam sunt in.</p>
</div>